
@{
    ViewData["Title"] = "RegisterSaler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="RegisterSaler">
    <button type="submit" class="btn btn-primary">Dang ki nguoi ban hang</button>
</form>
<p>@ViewBag.Role</p>
@section Scripts{

}

