@model ProjectShopIdentity.Areas.Product.Models.Products
@{
    ViewData["Title"] = "OrderIF";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}


<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
           <h3>Order</h3>
        </div>
    </div>
</div>


<div class="col-lg-12 table-responsive mb-5">
    <table class="table table-light table-borderless table-hover text-center mb-0">
        <thead class="thead-dark">
            <tr>
                <th>Products</th>
                <th>Price</th>
                <th>IMg</th>
                <th>Total</th>
                
                <th>Order</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            
                <tr>
                    <td class="align-middle"><img src="img/product-1.jpg" alt="" style="width: 50px;">@Model.Name</td>
                    <td class="align-middle">$@Model.Price</td>
                    <td class="align-middle">
                    <img  width="100" height="100" src="~/upload/@Model.Product_Image" alt="">
                    </td>
                    <td class="align-middle">$@Model.Price</td>


                    <td class="align-middle">
                        <a href="~/Product/Cart/DeleteProductInCart?id=@Model.Id">
                            <button class="btn btn-sm btn-success">
                                Order


                            </button>
                        </a>
                    </td>
             
                </tr>
            

        </tbody>
    </table>
</div>